---
import IconPlay from "../../icons/Play.astro";
import IconPause from "../../icons/Pause.astro";
import Loader from "../../icons/Loader.astro";
---

<div class="flex items-center gap-4">
  <span class="animate-pulse">Estamos en Vivo...</span>
  <audio class="hidden" id="radio" controls>
    <source src="" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <div>
    <div
      id="loader"
      class="bg-zinc-800 size-12 rounded-full items-center justify-center focus:scale-95 hidden"
    >
      <Loader />
    </div>
    <button
      type="button"
      id="play"
      class="relative bg-zinc-800 size-12 rounded-full flex items-center justify-center focus:scale-95 before:absolute before:inset-0 before:bg-zinc-800 before:rounded-full before:animate-ping before:-z-10 before:m-1"
      ><IconPlay /></button
    >
    <button
      type="button"
      id="pause"
      class="bg-zinc-800 size-12 rounded-full items-center justify-center focus:scale-95 hidden"
      ><IconPause /></button
    >
  </div>
</div>

<script is:inline>
  const radio = document.getElementById("radio");
  const playButton = document.getElementById("play");
  const pauseButton = document.getElementById("pause");
  const loaderButton = document.getElementById("loader");
  const streamUrl =
    "https://stream-150.zeno.fm/qgpgqixx3v8uv?zs=_zu_Dzi3RZuosKsYCsIYiQ";

  playButton.addEventListener("click", () => {
    radio.src = streamUrl;
    playButton.style.display = "none";
    loaderButton.style.display = "flex";
    radio.play();
  });

  radio.addEventListener("playing", () => {
    loaderButton.style.display = "none";
    pauseButton.style.display = "flex";
  });

  pauseButton.addEventListener("click", () => {
    playButton.style.display = "flex";
    pauseButton.style.display = "none";
    radio.pause();
  });
</script>
