---
import IconPrev from '../../icons/Prev.astro'
import IconNext from '../../icons/Next.astro'
import Item1 from './itemsCarrousel/item1.astro'
import Item2 from './itemsCarrousel/item2.astro'
import Item3 from './itemsCarrousel/item3.astro'
---

<div
  class="group relative max-w-2xl w-full h-80 overflow-hidden rounded-xl"
  id="carousel"
>
  <div
    class="w-full h-full flex transition ease-out duration-500"
    id="carousel-inner"
  >
    <Item1 />
    <Item2 />
    <Item3 />
  </div>
  <div
    class="absolute top-2/4 w-full p-2 flex justify-between -translate-y-2/4 opacity-0 group-hover:opacity-100 group-hover:transition group-hover:ease-in-out group-hover:duration-300"
  >
    <button class="text-white/20 size-8 hover:text-white/60 cursor-pointer" id="prev"
      ><IconPrev/></button
    >
    <button class="text-white/20 size-8 hover:text-white/60 cursor-pointer" id="next"
      ><IconNext/></button
    >
  </div>
</div>

<script is:inline>
  const carouselInner = document.getElementById("carousel-inner");
  const prevButton = document.getElementById("prev");
  const nextButton = document.getElementById("next");
  const items = document.querySelectorAll(".carousel-item");
  const totalItems = items.length;
  let currentIndex = 0;
  let interval;

  function showItem(index) {
    const offset = -index * 100;
    carouselInner.style.transform = `translateX(${offset}%)`;
  }

  function showNextItem() {
    currentIndex = (currentIndex + 1) % totalItems;
    showItem(currentIndex);
  }

  function showPrevItem() {
    currentIndex = (currentIndex - 1 + totalItems) % totalItems;
    showItem(currentIndex);
  }

  function resetInterval() {
    clearInterval(interval);
    interval = setInterval(showNextItem, 8000);
  }

  prevButton.addEventListener("click", () => {
    showPrevItem();
    resetInterval();
  });

  nextButton.addEventListener("click", () => {
    showNextItem();
    resetInterval();
  });

  interval = setInterval(showNextItem, 8000);
</script>
