---

---
<form action="https://formsubmit.co/fabiocobb13@gmail.com" method="POST" id="contactForm" class="max-w-2xl w-full relative flex flex-col rounded-lg text-sm bg-white text-black pb-12 gap-2 overflow-hidden shadow-2xl">
  <p class="relative bg-zinc-200 px-4 py-3">i40radio.bo@gmail.com</p>
  <input
    id="email"
    type="email"
    placeholder="Tu Correo Electronico..."
    name="email"
    required
    class="focus:outline-none px-4 pt-2 pb-3 border-b-[1px] border-black/10"
  />
  <label class="w-full h-fit mb-4 border-b-[1px] border-black/10" for="comment">
    <textarea
      class="resize-none focus:outline-none w-full px-4 py-1"
      rows="4"
      name="comment"
      id="comment"
      required
      placeholder="Deja tu opinión 😊"
    ></textarea>
  </label>
  <span class="absolute bottom-3 left-4 text-[10px] text-black/10">Made by Cobb</span>
  <input type="hidden" name="_next" value="http://localhost:4321/">
  <input type="hidden" name="_captcha" value="false">
  <button type="submit" class="absolute bottom-3 right-3 bg-emerald-500 px-3 py-2 rounded-xl text-white">Enviar</button>
</form>