---

---

<aside class="sticky top-28 max-w-96 w-full h-96 flex flex-col gap-12">
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-medium">Salmos 150:6</h2>
    <p class="opacity-70">
      ¡Que todo lo que respira cante alabanzas al Señor! ¡Alabado sea el Señor!
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-medium">Filipenses 4:4-5</h2>
    <p class="opacity-70">
      Estén siempre llenos de alegría en el Señor. Lo repito, ¡alégrense! Que
      todo el mundo vea que son considerados en todo lo que hacen. Recuerden que
      el Señor vuelve pronto.
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-medium">Esdras 7:10</h2>
    <p class="opacity-70">
      Así fue porque Esdras había decidido estudiar y obedecer la ley del Señor
      y enseñar sus decretos y ordenanzas al pueblo de Israel.
    </p>
  </div>
</aside>
