---
import IconWhatsapp from "../../icons/Whatsapp.astro";
import IconInstagram from "../../icons/Instagram.astro";
import IconFacebook from "../../icons/Facebook.astro";
import CommentForm from "../commentForm/CommentForm.astro";
---

<footer class="flex flex-col items-center w-full mt-28 lg:mt-48">
  <div class="max-w-6xl w-full px-3 py-20 flex items-center flex-col lg:flex-row justify-between gap-12">
    <CommentForm />
    <div class="flex flex-col text-center lg:text-end">
        <!-- <picture class="w-52">
            <img src="/Img/logo_oficial.webp" alt="">
        </picture> -->
      <h1 class="text-4xl italic">i-40Radio</h1>
      <h2 class="text-sm pb-12">Mensajera de buenas noticias</h2>
      <p>
        Nos encontramos en: <br />Iglesia Bautista Rios de Agua Viva<br/>Calle Rios de Agua #5475<br
        />telefono: 78119994
      </p>
    </div>
  </div>
  <div class="w-full bg-black h-20 flex items-center justify-center">
    <div class="max-w-6xl w-full px-3 flex items-center justify-between">
      <span class="text-sm"
        >2023-{new Date().getFullYear()} © All Rights Reserved
      </span>
      <div class="flex py-4 gap-2">
        <a
          class="size-12 p-2 hover:bg-zinc-100 hover:text-zinc-800 rounded-full"
          href="https://www.facebook.com/profile.php?id=100088412157204"
          target="_blank"><IconFacebook /></a
        >
        <a
          class="size-12 p-2 hover:bg-zinc-100 hover:text-zinc-800 rounded-full"
          href="https://api.whatsapp.com/send/?phone=78119994&text&type=phone_number&app_absent=0"
          target="_blank"><IconWhatsapp /></a
        >
        <a
          class="size-12 p-2 hover:bg-zinc-100 hover:text-zinc-800 rounded-full"
          href="https://www.instagram.com/i40radio"
          target="_blank"><IconInstagram /></a
        >
      </div>
    </div>
  </div>
</footer>
