---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer/Footer.astro";
import Programacion from "../../components/sections/Programación.astro";
import SliderText from "../../components/sliderText/SliderText.astro";
---

<Layout title="i40Radio – Programacón">
  <main class="flex justify-center pt-28">
    <div class="flex justify-between max-w-6xl w-full px-3">
      <article class="flex flex-col max-w-2xl w-full gap-12">
        <section>
          <h1 class="text-3xl font-semibold">NUESTRA PROGRAMACIÓN</h1>
          <h3 class="opacity-70">Música, variedad de contenidos y entretenimiento.</h3>
        </section>
        <Programacion />
      </article>
      <SliderText/>
    </div>
  </main>
  <Footer />
</Layout>
